# === Entornos virtuales ===
.venv/
env/
venv/

# === Archivos de configuración sensibles ===
.env

# Ignorar todo dentro de /data
data/*

# ¡Pero no ignores esta excepción específica!
!data/predicciones_diarias.csv
!data/encuestas.csv
!data/wordclouds

# (Opcional) Si quieres mantener algún archivo dentro de data/
# !data/encuestas.csv

# === Pycache y bytecode ===
__pycache__/
*.py[cod]
*.pyo

# === Wordclouds y logs ===
logs/
models/

# === PyTorch/Transformers warnings ===
*.log

# === VSCode y Jupyter ===
.vscode/
.ipynb_checkpoints/

# === Archivos del sistema operativo ===
.DS_Store
*.swp

respaldos/