python-dotenv
pandas
numpy
scikit-learn==1.3.2
joblib
matplotlib
wordcloud
tqdm
nltk
langdetect
transformers
torch
apify-client
markdown
xgboost==1.6.2
streamlit
streamlit-community-navigation-bar
seaborn
spacy
torchaudio
torchvision
pysentimiento
vaderSentiment
plotly
pytest
logging
azure-storage-blob

pygments==2.14.0
markdown-it-py==2.2.0
mdurl==0.1.2
rich==13.3.5